<!doctype html>
<html class="no-js" lang="zh-cmn-Hans">
<head>
<meta charset="utf-8">
<title>幸運轉大獎 - SHANIE DEMO</title>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
<link rel="stylesheet" href="css/layout.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app" v-cloak>
	<div id="container">
		<div class="header">
			<div class="hInner clearfix">
				<div class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
				<ul class="clearfix">
					<li class="li02"><a href="javascript:;" @click="search.dialogShow = true"><span>中獎查詢</span></a></li>
				</ul>
			</div>
		</div>
		<div id="main">
			<!-- 輪盤獎項 -->
			<div id="luck">					
				<table>
					<tbody>
						<tr>
							<td class="luck-unit luck-unit-0 active"><div class="item"><img src="images/img01.png" alt=""><span>歐洲10日遊</span></div></td>
							<td class="luck-unit luck-unit-1"><div class="item"><img src="images/img02.png" alt=""><span>8元</span></div></td>
							<td class="luck-unit luck-unit-2"><div class="item"><img src="images/img03.png" alt=""><span>18元</span></div></td>
							<td class="luck-unit luck-unit-3"><div class="item"><img src="images/img01.png" alt=""><span>Air Pods</span></div></td>
							<td class="luck-unit luck-unit-4"><div class="item"><img src="images/img02.png" alt=""><span>88元</span></div></td>
							<td class="luck-unit luck-unit-5"><div class="item"><img src="images/img03.png" alt=""><span>188元</span></div></td>
						</tr>
						<tr>
							<td class="luck-unit luck-unit-17"><div class="item"><img src="images/img04.png" alt=""><span>謝謝參與</span></div></td>
							<td rowspan="3" colspan="4">

								<div class="box">
									<div class="img">
										<img src="images/img05.png" alt="">
										<a href="javascript:;" @click="member.userLogin" :class="(activeTime.pageStatus!='in_time')?'filter_gray':''"><img src="images/btn.png"></a>
									</div>

									<!-- 進行中 -->
									<div class="dateBox clearfix" v-show="activeTime.pageStatus=='in_time'">
										<p class="txt"><img src="images/img06.png" alt="">距離活動結束倒計時</p>
										<p class="date"><span id="date01">{{activeTime.timeShow.day}}</span>天<span id="date02">{{activeTime.timeShow.hour}}</span>時<span id="date03">{{activeTime.timeShow.minute}}</span>分<span id="date04">{{activeTime.timeShow.seconds}}</span>秒</p>
									</div>

									<!-- 下一波倒計時 -->
									<div class="dateBox clearfix" v-show="activeTime.pageStatus=='not in time'">
										<p class="txt"><img src="images/img06.png" alt="">距離活動開始倒計時</p>
										<p class="date"><span id="date01">{{activeTime.timeShow.day}}</span>天<span id="date02">{{activeTime.timeShow.hour}}</span>時<span id="date03">{{activeTime.timeShow.minute}}</span>分<span id="date04">{{activeTime.timeShow.seconds}}</span>秒</p>
									</div>

									<!-- 活動結束 -->
									<div id="hb_end" v-show="activeTime.pageStatus=='activity_close'">
										<div class="txt">活動今日已結束</div>
									</div>
								</div>

							</td>
							<td class="luck-unit luck-unit-6"><div class="item"><img src="images/img01.png" alt=""><span>iphone 12</span></div></td>
						</tr>
						<tr>
							<td class="luck-unit luck-unit-16"><div class="item"><img src="images/img02.png" alt=""><span>8元<br></span></div></td>
							<td class="luck-unit luck-unit-7"><div class="item"><img src="images/img02.png" alt=""><span>888元</span></div></td>
						</tr>
						<tr>
							<td class="luck-unit luck-unit-15"><div class="item"><img src="images/img01.png" alt=""><span>賓士<br></span></div></td>
							<td class="luck-unit luck-unit-8"><div class="item"><img src="images/img03.png" alt=""><span>18元</span></div></td>
						</tr>
						<tr>
							<td class="luck-unit luck-unit-14"><div class="item"><img src="images/img03.png" alt=""><span>日韓遊輪7日</span></div></td>
							<td class="luck-unit luck-unit-13"><div class="item"><img src="images/img02.png" alt=""><span>Air Pods</span></div></td>
							<td class="luck-unit luck-unit-12"><div class="item"><img src="images/img01.png" alt=""><span>SONY電視</span></div></td>
							<td class="luck-unit luck-unit-11"><div class="item"><img src="images/img03.png" alt=""><span>2888元</span></div></td>
							<td class="luck-unit luck-unit-10"><div class="item"><img src="images/img02.png" alt=""><span>1888元</span></div></td>
							<td class="luck-unit luck-unit-9"><div class="item"><img src="images/img01.png" alt=""><span>1688元</span></div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="footer">
			<p>COPYRIGHT &copy; SHANIE DEMO RESERVED</p>
		</div>
	</div>
	
	<!-- 輸入會員 -->
	<transition name="fade">
		<div class="pop" v-show="member.dialogShow">
			<div class="close close_btn" @click="member.dialogShow = false"><img src="images/close2.png" alt=""></div>
			<input id="user_name" class="user_name" value="" placeholder="請輸入會員帳號" type="text" v-model.trim="member.account">
			<input class="tcsub" id="btn" value="登入" type="submit" @click="member.checkUser">
		</div>			
	</transition>
	<div class="cover" v-show="member.dialogShow" @click="member.dialogShow = false"></div>	
	<!-- /輸入會員 -->

	<!-- 中獎結果 -->
	<transition name="fade">
		<div class="popBox" v-show="lottery.process > 0">
			<div class="img"><img src="images/pop_img.png" alt="">
				<p v-if="lottery.prizeType == 1">恭喜您獲得<br><span class="txt">{{lottery.prize}}</span></p>
				<p v-else>{{lottery.prize}}</p>
			</div>
			<div class="close close_btn" @click="lottery.closeLotteryDialog"><img src="images/close.png" alt=""></div>
		</div>
	</transition>
	<div class="cover popBox_cover" v-show="lottery.process > 0" @click="lottery.closeLotteryDialog"></div>
	<!-- /中獎結果 -->

	<!-- 中獎查詢 -->
	<Transition>
		<div class="searchBox" v-show="search.dialogShow">
			<div class="close close_btn" @click="search.closeSearchDialog"><img src="images/close02.png" alt=""></div>
			<p>中獎查詢</p>
			<div class="search"><input type="text" placeholder="請輸入會員帳號" onfocus="if(this.placeholder=='請輸入會員帳號') this.placeholder=''" onblur="if(this.placeholder =='') this.placeholder ='請輸入會員帳號'" v-model="search.account"><a href="javascript:;" @click="search.searchRecords"><img src="images/btn02.png" alt=""></a></div>
			<table>
					<tr>
						<th width="33%">獎項名稱</th>
						<th width="33%">抽獎時間</th>
						<th>是否領取</th>
					</tr>
					<tr v-for="(item,index) in search.historyList" v-if="search.resultShow==1">
						<td>{{item.gift_name}}</td>
						<td>{{item.pick_up_time}}</td>
						<td>{{item.payout_status}}</td>
					</tr>
					<tr v-show="search.resultShow==2">
						<td colspan='3'>查無資料</td>
					</tr>
			</table>
		</div>
	</Transition>
	<div class="cover searchBox_cover" v-show="search.dialogShow"  @click="search.closeSearchDialog"></div>
	<!-- /中獎查詢 -->

	<audio id="music_win" src="win.mp3">你的瀏覽器不支持audio標籤。</audio>
	<audio id="music_rotate" src="rotate.mp3">你的瀏覽器不支持audio標籤。</audio>
</div>
<script src="libs/jquery-1.8.3.min.js"></script>
<script src="libs/vue.global.prod.min.js"></script>
<script src="libs/main.js"></script>
</body>
</html>